body {
    overflow:hidden;
}

.bigtext {
			font-size:7.9em;
			text-align:center;
			position: relative;
			top: 50%;
			transform: translateY(50%);}
			.youspinmerightround
			{
				animation: Bepis 3.15s linear 0s infinite
			}
			@keyframes Bepis {
from {
        transform:rotate(0deg);
}
to {
        transform:rotate(360deg);
    }
}

/* Fonts formatting*/

.smart {
	font-family: "Segoe UI", Arial, sans-serif;
}

.dumb {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	margin: auto;
	position: relative;
	top: 50%;
}

.herejusttosuffer {
	transform: translateY(50%);
}


/* anims */

.getmeoutofhere {
	animation-name: forthward;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}

.getmeinofhere {
	animation-name: backswards;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}

@keyframes forthward {
	0% {
		transform: translatey(50%) translateX(150%);
	}
	100% {
		transform: translatey(50%) translateX(0%);
	}
}

@keyframes backswards {
	0% {
		transform: translatey(50%) translateX(0%);
	}
	100% {
		transform: translatey(50%) translateX(-150%);
	}
}


/* Bootstrap snipped button formatting */

.btn {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	padding: .84rem 2.14rem;
	font-size: .81rem;
	-webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	-o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	margin: .375rem;
	border: 0;
	-webkit-border-radius: .125rem;
	border-radius: .125rem;
	cursor: pointer;
	text-transform: uppercase;
	white-space: normal;
	word-wrap: break-word;
	color: #fff
}

.btn-rounded {
	-webkit-border-radius: 10em;
	border-radius: 10em
}

.btn-primary {
	background-color: #73d6e6!important;
	color: #fff!important
}

.btn-primary:hover {
	background-color: #5a95f5
}

.btn-primary.focus,
.btn-primary:focus {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus {
	background-color: #0b51c5
}


.btn:active,
.btn:focus,
.btn:hover {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	outline: 0
}

.btn:not([disabled]):not(.disabled).active,
.btn:not([disabled]):not(.disabled):active {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}
/*rainbower credit to Milan Nohejl */
.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 0.8s ease infinite;
-z-animation: rainbow 0.8s ease infinite;
-o-animation: rainbow 0.8s ease infinite;
  animation: rainbow 0.8s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
