body {
     background-image: url("/img/tiled static.gif");
     background-color:#ffffff;
     overflow:hidden;
}
/* Animations */
 @-webkit-keyframes blink {
     0% {
         opacity: 1;
    }
     49% {
         opacity: 1;
    }
     50% {
         opacity: 0;
    }
     100% {
         opacity: 0;
    }
}
 @-moz-keyframes blink {
     0% {
         opacity: 1;
    }
     49% {
         opacity: 1;
    }
     50% {
         opacity: 0;
    }
     100% {
         opacity: 0;
    }
}
 @-o-keyframes blink {
     0% {
         opacity: 1;
    }
     49% {
         opacity: 1;
    }
     50% {
         opacity: 0;
    }
     100% {
         opacity: 0;
    }
}
/*Content and webm formatting*/
 h2 #pause {
     position: absolute;
     left: 8vw;
     top: 10vh;
     -webkit-animation: blink 2s;
     -webkit-animation-iteration-count: infinite;
     -moz-animation: blink 2s;
     -moz-animation-iteration-count: infinite;
     -o-animation: blink 2s;
     -o-animation-iteration-count: infinite;
     cursor:pointer;
     z-index: 107;
}
 h2 #play {
     position: absolute;
     left: 8vw;
     top: 10vh;
     display: none 
     z-index: 107;
}
/* Initial holders */
#TopHouse {
     width:100%;
     height:100%;
     position:absolute;
     left:0;
     top:0;
     z-index: 106;
     pointer-events:none;
     filter: saturate(60%) brightness(40%);
}
#Sky {
     width:200%;
     height:300%;
     position:absolute;
     left:-50%;
     top:-50%;
     transform-origin: 50% 50%;
     z-index: 100;
     pointer-events:none;
}
#Door {
	width:4.8%;
     height:18.1%;
     left:35%;
     top:63.6%;
          z-index: 110;
     position:absolute;}
/*Zoom and door trans */
#TopHouse.hmmyesthisfloorismade
{
transform: translatey(-60%)translateX(35%) scale(3.0);
transition: transform 3.8s ease-in-out;
transition-delay: 5.2s
}
#Door.hmmyesthisfloorismade 
{transform: translatey(-80%)translateX(200%) scale(3.0);
transition: transform 3.8s ease-in-out;
transition-delay: 5.2s}   
#Door.openup {
	transform:skew(0deg, -45deg)translatey(-21%) translatex(-36%) scaleX(0.3) scaleY(1.1);
	transition: transform 2s ease-in-out;
	transition-delay: 9s
	} 
/* Sky initial trans */
 #Sky.wakethefup {
     -webkit-transition: -webkit-transform 4.8s ease-in-out;
     -moz-transition: -moz-transform 4.8s ease-in-out;
     -o-transition: -o-transform 4.8s ease-in-out;
     -ms-transition: -o-transform 4.8s ease-in-out;
     transition: transform 4.8s ease-in-out;
     -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
     -o-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     transform: rotate(180deg);
}
#TopHouse.wakethefup, #Door.wakethefup { 
	animation-name: riseandshine;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}

 @keyframes riseandshine {
	0% {
		filter: saturate(60%) brightness(40%);
	}
	100% {
		filter: saturate(105%) brightness(135%);
	}
}

 #canvas {
     width:100%;
     height:100%;
     position:absolute;
     left:0%;
     top:0%;
     z-index: -100;
     pointer-events:none;
}
 
